@page "/zoo/{userId}"
@inject ServiceLayer.servises.IZooService zooService
@inject NavigationManager navigationManager
@inject ServiceLayer.servises.IZooService zooService



<h3 class="text-center">@User.Navn</h3>
<div class="container">
    <div class="row">
        <div class="col text-right">
            @User.Penge.ToString("c")
        </div>
    </div>
    <div class="row">
        @foreach (var item in Dyrliste)
        {
        <div class="col-4 ">
            <h3 style="padding:5px" class="text-center">@item.Dyr?.Navn</h3>
            <p style="padding:5px" class="text-center">Antal: @item.Antal</p>
        </div>        
        }        
    </div>
    <div class="row">
        <div class="col-4 text-center" style="padding:5px">
            <h3 style="padding:5px">🐊</h3>
            <button class="btn btn-primary" style="padding:5px" @onclick="(() => KøbEtDyr(1)) ">Køb</button>
        </div>
        <div class="col-4 text-center" style="padding:5px">
            <h3 style="padding:5px">🦁</h3>
            <button class="btn btn-primary" style="padding:5px" @onclick="(() => KøbEtDyr(2)) ">Køb</button>
        </div>
        <div class="col-4 text-center" style="padding:5px">
            <h3 style="padding:5px">🐘</h3>
            <button class="btn btn-primary" style="padding:5px" @onclick="(() => KøbEtDyr(3)) ">Køb</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-center" style="padding:5px">
            <h3 style="padding:5px">🐧</h3>
            <button class="btn btn-primary" style="padding:5px" @onclick="(() => KøbEtDyr(4)) ">Køb</button>
        </div>
        <div class="col-4 text-center" style="padding:5px">
            <h3 style="padding:5px">🐉</h3>
            <button class="btn btn-primary" style="padding:5px" @onclick="(() => KøbEtDyr(5)) ">Køb</button>
        </div>
        <div class="col-4 text-center" style="padding:5px">
            <h3 style="padding:5px">🐯</h3>
            <button class="btn btn-primary" style="padding:5px" @onclick="(() => KøbEtDyr(6)) ">Køb</button>
        </div>
    </div>
    <div class="row">
        @foreach (var item in KundeListe)
        {
            <div class="col-4 text-center" style="padding:5px">
                <h6>@item.Kunder?.KundeId : @item.Antal</h6>
            </div>
        }
    </div>
    
</div> 
       
<footer>
    <button @onclick="Cheat">.</button>
</footer>





@code {
   
}

